// Specific CSS for your home-page
body {
  background-color: #0B0C10;
}

.my-profile {
  padding: 0 8% 0 8%;
}

.navbar {
  padding: 40px 0px 40px 0px;
  display: flex;
  justify-content: center;
}

.nav {
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: #C5C6C7;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #66FCF1;
}

.home-container {
  display: flex;
}

.my-name, .my-picture {
  width: 50%;
}

.my-name {
  position: relative;
  display: inline-block;
}

.my-picture {
  justify-content: center;
  display: flex;
  height: 65%;
}

.my-name h1 {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: #C5C6C7;
  position: absolute;
  top: 20%; /* Center the text vertically */
  left: 85%; /* Center the text horizontally */
  transform: translate(-50%, -50%);
  width: 400px;
}

.my-name h2 {
  font-family: "Raleway";
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #66FCF1;
  position: absolute;
  top: 30%; /* Center the text vertically */
  left: 68%; /* Center the text horizontally */
  transform: translate(-50%, -50%);
  width: 400px;
}

.my-name > img {
  filter: drop-shadow(10px 8px 6px #66FCF1);
  width: 550px;
  margin-left: 100px;
}

.my-title span {
  color: #45A29E;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 39%; /* Center the text vertically */
  left: 68%; /* Center the text horizontally */
  transform: translate(-50%, -50%);
  width: 400px;
}

.my-picture > img {
  width: 70%;
  height: 60%;
  filter: drop-shadow(10px 8px 6px #66FCF1);
  margin: 50px 30px 0 0;
}

.about-header h3 {
  color: #45A29E;
}

.about-content p {
  color: #C5C6C7;
}

.experience-container h3 {
  color: #45A29E;
}

.experience-items {
  display: flex;
  justify-content: space-evenly;
}

.experience-items h4 {
  font-size: 16px;
}

.experience-item i {
  margin-top: 10px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}

.experience-item h4 {
  color: #C5C6C7;
}

.experience-item h4:hover {
  color: #66FCF1;
}

.ruby-img {
  display: block;
  margin: 0 auto;
  height: 32px;
  width: 28px;
  margin-bottom: 16px;
}

.rails-img {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
}

.portfolio-container h3 {
  color: #45A29E;
}
.contact-container h3 {
  color: #45A29E;
}
