<main class="my-profile">
  <header class="nav-container">
    <nav class="navbar">
      <ul class="nav">
        <li class="nav-item">
          <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Resume</a>
        </li>
      </ul>
    </nav>
  </header>
  <section class="home-container">
    <div class="my-name">
      <h2>Aloysius Hon</h2>
    </div>
    <div class="my-title">
      <h3>Fullstack Developer</h3>
    </div>
    <div class="my-content">
      <p>
        Recent graduate with a strong passion for web development.
        Eager to dive into the industry, contribute to exciting projects, and embrace continuous learning.
        Let's connect and create something amazing together!
      </p>
    </div>
  </section>
  <section class="about_me-container">
    <div class="about-header">
      <h3>About Me</h3>
    </div>
    <div class="about-content">
      <p>
        Recent graduate with a passion for web development and a commitment to lifelong learning.
        My journey into the world of coding started with a full-stack bootcamp, and I've been on an exhilarating learning curve ever since.

        While I may not have industry experience yet, I bring a fresh perspective and a hunger to immerse myself in the web development field.
        The dynamic and ever-evolving nature of web technologies excites me, and I'm eager to embark on this journey of growth and discovery.

        Let's bring innovation to life together!
      </p>
    </div>
  </section>
  <section class="experience-container">
    <h3>Foundations & Skills</h3>
    <div class="experience-list">
      <ul class="experience-items">
        <li class="experience-item">
          <%= image_tag('Rails.png', class: 'rails-img', alt: 'Rails') %>
          <h4>Ruby On Rails</h4>
        </li>
        <li class="experience-item">
          <%= image_tag('Ruby.png', class: 'ruby-img', alt: 'Ruby') %>
          <h4>Ruby</h4>
        </li>
        <li class="experience-item">
          <i class="fa-brands fa-square-js fa-2xl" style="color: #c5c6c7;"></i>
          <h4>JavaScript</h4>
        </li>
        <li class="experience-item">
          <i class="fa-brands fa-css3-alt fa-2xl" style="color: #c5c6c7;"></i>
          <h4>CSS</h4>
        </li>
        <li class="experience-item">
          <i class="fa-brands fa-html5 fa-2xl" style="color: #c5c6c7;"></i>
          <h4>HTML 5</h4>
        </li>
      </ul>
    </div>
  </section>
  <section class="portfolio-container">
    <h3>Portfolio</h3>
  </section>
  <section class="contact-container">
    <h3>Contact</h3>
  </section>
  <footer>
  </footer>
</main>
